@use 'mixins/mixins' as *;

@include b(batch-input) {
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  @include e(item) {
    display: flex;
    justify-content: space-between;

    &:nth-child(n + 2) {
      margin-top: 4px;
    }
  }

  @include e(operation) {
    flex-shrink: 0;
    margin-left: 6px;
  }
}