@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(card) {
  border-radius: var(--el-border-radius-base);
  border: var(--el-border-base);
  background-color: var(--el-color-white);
  overflow: hidden;
  color: var(--el-text-color-primary);
  transition: var(--el-transition-duration);

  @include when(always-shadow) {
    box-shadow: var(--el-box-shadow-light);
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: var(--el-box-shadow-light);
    }
  }

  @include e(header) {
    padding: 8px;
    border-bottom: var(--el-border-base);
    box-sizing: border-box;
  }

  @include e(body) {
    padding: 8px;
  }
}
