@use 'mixins/mixins' as *;

@include b(data-table) {
  background-color: var(--el-bg-color-overlay);
  color: var(--el-text-color-regular);
  border: 1px solid #eee;

  table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    min-width: 100%;
  }

  @include e(header-wrap) {
    @include when(resizing) {
      cursor: col-resize;
    }
  }

  @include e(header) {
    background-color: #fff;
    user-select: none;
    &-wrap {
      width: 100%;
      overflow: hidden;
    }
  }

  @include e(column-resize) {
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    cursor: col-resize;
    z-index: 1;
    box-sizing: border-box;

    &:hover {
      border-right: 4px dotted #ccc;
    }
  }

  @include e(header-cell) {
    border-bottom: 1px solid #eee;
    box-shadow: -1px 0px 0px 0px #eee inset;
    padding: 4px 4px;
    word-break: break-all;
    box-sizing: border-box;

    @include when(left, right) {
      position: sticky;
      z-index: 1;
    }

    @include when(leaf) {
      position: relative;
    }
  }

  @include e(body) {
  }

  @include e(row) {
    &:hover {
      td {
        background-color: var(--el-fill-color-light);
      }
    }
  }

  @include e(cell) {
    padding: 0;

    & > div {
      display: flex;
      align-items: center;
      padding: 0 4px;
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
    }

    @include when(left, right) {
      position: sticky;
      z-index: 1;
      background-color: var(--el-bg-color);
    }

    @include when(right) {
      &.is-first > div {
        border-left: 1px solid #eee;
      }
    }

    @include when(center) {
      &.is-last > div {
        border-right: none;
      }
    }
  }

  @include e(footer) {
  }

  @include when(right-fixed-shadow) {
    .el-data-table__cell.is-right.is-first {
      div {
        box-shadow: -2px 2px 2px 1px #eee;
      }
    }
  }

  @include when(left-fixed-shadow) {
    .el-data-table__cell.is-left.is-last {
     & > div {
        box-shadow: 2px 2px 2px 1px #eee;
      }
    }
  }
}
