@use 'mixins/mixins' as *;

@include b(data-table) {
  background-color: #fff;

  table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
  }

  @include e(header) {
    th {
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }

  @include e(header-cell) {

  }

  @include e(row) {
    height: 40px;
    justify-content: flex-start;
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }

  @include e(cell) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 4px;
  }

  @include e(footer) {

  }
}
