@use 'mixins/mixins' as *;

@include b(edit-bar) {
  height: 100%;
  background-color: var(--el-bg-color);
  width: 200px;
  padding: 0 1px;
  border-radius: var(--el-border-radius-base);

  @include e(list) {
    &.el-scrollbar {
      height: calc(100% - 40px);
    }
  }

  .el-scrollbar__view {
    padding: 0;
    margin: 0;
  }

  @include e(item) {
    height: 48px;
    border-bottom: 1px solid getCssVar('border-color');
    color: var(--el-text-color-regular);
    font-size: var(--el-font-size-base);
    position: relative;
    transition: color 0.15s;
    list-style: none;
  }

  @include e(tree-item) {
    height: 100%;
  }

  @each $e in (tree-item, item) {
    @include e($e) {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      &:hover,
      &:focus {
        color: var(--el-color-primary);

        .el-edit-bar__action {
          opacity: 1;
        }
      }

      &.el-edit-bar__item--active {
        color: var(--el-color-primary);
      }
    }
  }

  @include e(item-content) {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-grow: 1;

    & > *:not(:first-child) {
      vertical-align: middle;
      display: inline-block;
      margin-left: 6px;
    }
  }

  @include e(action) {
    opacity: 0;
    transition: opacity 0.15s;
    width: 40px;

    & > * {
      vertical-align: middle;
    }
  }

  @include e(tools) {
    line-height: 40px;
    height: 40px;
    padding: 0 4px;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 0;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include e(handle) {
    height: 100%;
    width: 12px;
    cursor: move;
    position: relative;
    display: inline-block;
    background-color: #f3f3f3;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 60%;
      top: 20%;
      width: 1px;
      background-color: #ddd;
    }

    &::before {
      left: 2px;
    }
    &::after {
      right: 2px;
    }
  }

  @include e(ghost) {
    opacity: 0;
  }
}
