@use 'sass:math';
@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(input-number) {
  position: relative;
  display: inline-block;
  width: map.get($input-number-width, 'default');
  line-height: #{map.get($input-height, 'default') - 2};

  .#{$namespace}-input {
    &__inner {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }
      padding-left: 15px;
      padding-right: #{map.get($input-height, 'default') + 10};
      text-align: center;
    }
  }

  @include e((increase, decrease)) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: absolute;
    right: 1px;
    z-index: 1;
    line-height: math.div(map.get($input-height, 'default') - 2, 2);

    width: map.get($input-height, 'default');
    background: var(--el-bg-color);
    color: var(--el-text-color-regular);
    cursor: pointer;
    font-size: 13px;
    user-select: none;

    &:hover {
      color: var(--el-color-primary);

      & ~ .#{$namespace}-input:not(.is-disabled) .#{$namespace}-input__inner {
        box-shadow: 0 0 0 1px
          var(--el-input-focus-border-color, map.get($input, 'focus-border-color')) inset;
      }
    }

    &.is-disabled {
      color: var(--el-disabled-text-color);
      cursor: not-allowed;
    }
  }

  @include e(increase) {
    top: 1px;
    border-radius: 0 var(--el-border-radius-base) var(--el-border-radius-base) 0;
    border-left: var(--el-border-base);
    border-bottom: var(--el-border-base);
  }

  @include e(decrease) {
    bottom: 1px;
    border-radius: var(--el-border-radius-base) 0 0 var(--el-border-radius-base);
    border-left: var(--el-border-base);
    border-radius: 0 0 var(--el-border-radius-base) 0;
  }

  @include when(disabled) {
    @include e((increase, decrease)) {
      border-color: var(--el-disabled-border-color);
      color: var(--el-disabled-border-color);

      &:hover {
        color: var(--el-disabled-border-color);
        cursor: not-allowed;
      }
    }
  }

  @each $size in (large, small) {
    @include m($size) {
      width: map.get($input-number-width, $size);
      line-height: #{map.get($input-height, $size) - 2};

      @include e((increase, decrease)) {
        width: map.get($input-height, $size);
        font-size: map.get($input-font-size, $size);
        line-height: math.div(map.get($input-height, $size) - 2, 2);
        height: math.div(map.get($input-height, $size) - 2, 2);
      }

      .#{$namespace}-input__inner {
        padding-right: #{map.get($input-height, $size) + 7};
      }
    }
  }

  @include m(small) {
    @include e((increase, decrease)) {
      [class*='#{$namespace}-icon'] {
        transform: scale(0.9);
      }
    }
  }

  @include when(without-controls) {
    .#{$namespace}-input__inner {
      padding-right: 15px;
    }
  }
}
