@use 'mixins/mixins.scss' as *;

@keyframes guide {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 0 5px 0px var(--el-border-color);
  }
}

@include b(multiple-form) {
  background-color: var(--el-fill-color-blank);
  width: 100%;

  $title-height: 36px;

  @include e(title) {
    height: $title-height;
    line-height: $title-height;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 600;
  }

  $tools-height: 40px;
  @include e(tools) {
    height: $tools-height;
    padding: 0 12px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: var(--el-bg-color);

    & > * {
      vertical-align: middle;
    }
  }

  @include e(source) {
    border: 1px solid var(--el-color-info-light-9);
  }

  @include e(table) {
    width: 100%;
    border-radius: 4px;
    table-layout: fixed;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 0;

    td {
      border-bottom: 1px solid var(--el-border-color);
    }

    tr:hover {
      background: rgba(192, 196, 204, 0.1);
    }
    thead th {
      position: sticky;
      top: 0;
      z-index: 2;
      font-weight: normal;
    }

    th,
    td {
      text-align: left;
      padding: 6px 6px;
      box-sizing: border-box;
      font-size: 14px;
    }
    th:not(.el-multiple-form__action) {
      box-shadow: 0 2px 3px 0px #f0f0f0;
    }

    th:last-child {
      z-index: 3;
      background-color: var(--el-bg-color);
      box-shadow: 2px 2px 3px 0px #f0f0f0;
    }

    thead .is-required {
      &::before {
        content: '* ';
        color: red;
      }
    }
  }

  @include e(action) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
      pointer-events: none;
      touch-action: none;
      box-shadow: -2px 0 5px 0px rgba(0, 0, 0, 0.05);
    }

    position: sticky;
    right: 0;
    z-index: 2;
    text-align: left;
    width: 150px;
    background-color: var(--el-bg-color);
  }

  tr {
    @include when(guide) {
      animation: guide 0.8s ease-in-out alternate infinite;
    }
  }
}
