@use 'mixins/mixins.scss' as *;

@include b(multiple-form) {
  background-color: var(--el-color-white);
  width: 100%;

  @include e(button) {
    padding: 10px;
  }

  @include e(table) {
    width: 100%;
    border: 1px solid var(--el-color-info-light-9);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-radius: 4px;

    tr {
    }
    // th,
    // td {
    //   text-align: left;
    //   padding: 10px;
    //   box-sizing: border-box;
    //   border-bottom: 1px solid var(--el-color-info-light-9);
    // }

    thead .is-required {
      &::before {
        content: '*';
        color: red;
      }
    }

    //   tbody {
    //     display: block;
    //     height: 195px;
    //     overflow-y: scroll;
    //   }
    //   thead,
    //   tbody tr {
    //     display: table;
    //     width: 100%;
    //     table-layout: fixed;
    //   }

    //   thead {
    //     font-size: 15px;
    //     width: calc(100% - 1em);
    //   }
  }
}
