@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(popconfirm) {
  @include e(title) {
    display: flex;
    align-items: center;
  }
  @include e(content) {
    font-size: 12px;
    color: var(--el-text-color-secondary);
  }
  @include e(icon) {
    margin-right: 5px;
  }
  @include e(action) {
    text-align: right;
    margin-top: 8px;
  }
}
