@use 'mixins/mixins' as *;
@use 'mixins/config';

@include b('pro-table') {
  width: 100%;
  overflow: auto;

  @include e('searcher') {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--el-bg-color-overlay);

    &-box {
      flex-grow: 1;
      & > * {
        display: inline-block;
        max-width: 300px;
        margin-right: 6px;
      }
    }
  }

  @include e('tools') {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--el-bg-color-overlay);

    &-left {
      flex-grow: 1;
      margin-right: 6px;
    }
  }

  @include e('pagination') {
    background-color: var(--el-bg-color);
  }

  // .#{$namespace}-table {
  //   background-color: var(--el-bg-color-overlay);
  // }
}
