@use 'mixins/mixins' as *;

@include b('pro-table') {
  @include e('searcher') {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--el-color-white);

    &-box {
      flex-grow: 1;
      & > * {
        display: inline-block;
        max-width: 300px;
        margin-right: 6px;
      }
    }
  }

  @include e('tools') {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--el-color-white);

    &-left {
      flex-grow: 1;
      margin-right: 6px;
    }
  }

  @include e('pagination') {
    background-color: var(--el-color-white);
  }
}
