@use 'mixins/mixins' as *;
@use 'mixins/config';

@include b('pro-table') {
  width: 100%;
  overflow: hidden;

  @include e('searcher') {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--el-bg-color-overlay);

    &-box {
      flex-grow: 1;

      & > :not(.#{$namespace}-button) {
        margin-right: 12px;
        vertical-align: middle;
      }
    }

    &-wrap {
      display: inline-flex;
      align-items: center;
      align-content: center;
    }

    &-label {
      flex-shrink: 0;
      padding-right: 6px;
      color: var(--el-text-color-regular);
      font-size: var(--el-font-size-base);
    }

    &-popper {
      margin-top: 6px;
      padding: 4px;
      padding-bottom: 0;
      border: 1px solid var(--el-border-color);
      border-radius: var(--el-border-radius-base);
      background-color: var(--el-bg-color-page);

      & > * {
        margin-right: 12px;
        margin-bottom: 4px;
      }
    }
  }

  .el-data-table {
    border-radius: var(--el-border-radius-base);
  }

  @include e('tools') {
    margin-bottom: 6px;
    padding: 6px;
    background-color: var(--el-bg-color-overlay);
    border-radius: var(--el-border-radius-base);

    &-bar {
      display: flex;
      justify-content: space-between;
    }

    & .#{$namespace}-pro-table__searcher-content {
      width: 160px;
    }

    &-box {
      & > *:not(:first-child) {
        margin-left: 12px;
      }
    }
  }

  @include e('pagination') {
    background-color: var(--el-bg-color);
  }

  // .#{$namespace}-table {
  //   background-color: var(--el-bg-color-overlay);
  // }
}
