@use 'mixins/mixins' as *;

@include b(range) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  @include e(separator) {
    text-align: center;
    width: 12px;
    flex-shrink: 0;
  }
}
