@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(steps) {
  display: flex;

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    height: 100%;
    flex-flow: column;
  }
}
