@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;
@use './table.scss' as *;

@include b(table-select) {
  @include e(btn) {
    display: inline-block;
  }
}

@include b(table-select-display) {
  width: 100%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  background-color: var(--el-bg-color);
  font-size: 14px;
  color: #606266;
  border-collapse: collapse;
  border: 1px solid var(--el-border-color);


  table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
  }


  thead th {
    border-bottom: 1px solid var(--el-border-color-light);
    color: #909399;
    font-weight: 600;
  }

  tbody td {
    border-bottom: 1px solid var(--el-border-color-extra-light);
  }

  tbody tr {
    &:hover {
      background-color: #f5f7fa;
    }
  }

  th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
  }

  th,
  td {
    padding: 6px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @include m(small) {
    th,
    td {
      padding: 4px 6px;
    }
  }
  @include m(large) {
    th,
    td {
      padding: 8px 12px;
    }
  }
}

@include b(table-select-dialog) {
  @include e(searcher) {
    padding: 6px 0;

    & > :not(.el-button) {
      width: 180px;
      margin-right: 6px;
    }

    & > * {
      vertical-align: middle;
      margin-bottom: 4px;
    }
    @include e(btn) {
      text-align: right;
      padding: 8px 0;
    }
    @include e(table) {
      overflow-x: scroll;
    }
  }

  tr {
    cursor: pointer;
  }

  @include e(pagination) {
    justify-content: flex-end;
  }
}

.el-table-select__notable {
  display: inline-block;
}
