@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;
@use './table.scss' as *;

@include b(table-select) {
  @include e(btn) {
    display: inline-block;
    margin: 5px;
  }
}

@include b(table-select-display) {
  width: 100%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  height: fit-content;
  background-color: #fff;
  font-size: 14px;
  color: #606266;
  border-collapse: collapse;
  border: 1px solid #ebeef5;
  border-bottom: 0;

  table {
    width: 100%;
  }
  tr {
    border-bottom: 1px solid #ebeef5;

    th {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #fff;
    }

    th,
    td {
      min-width: 100px;
      padding: 8px 12px;
      text-overflow: ellipsis;
      vertical-align: middle;
      align-items: center;
    }
    td {
      margin: 0 2px;
    }
  }
  @include e('header') {
    color: #909399;
    font-weight: 500;
    text-align: left;
  }
  @include e(body) {
    @include e('wrapper') {
      @include e('radio') {
        .el-radio {
          padding: 10px;
          cursor: pointer;
        }
      }
      @include e('checkbox') {
        .el-radio {
          padding: 10px;
          cursor: pointer;
        }
      }
    }
    tr:hover {
      background-color: #f5f7fa;
    }
    @include e('row-stripe') {
      background-color: #fafafa;
    }
  }
}

@include b(table-select-dialog) {
  @include e(searcher) {
    .el-table-select-dialog__wrapper > div {
      max-width: 31%;
      padding: 2px;
    }
    @include e(btn) {
      text-align: right;
      padding: 8px 0;
    }
    @include e(table) {
      overflow-x: scroll;
    }
  }
}

.el-table-select__notable {
  display: inline-block;
}
