@use 'sass:map';

@use 'mixins/mixins' as *;

@include b(table) {
  position: relative;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
  background-color: var(--el-bg-color);
  font-size: 14px;
  color: var(--el-text-color-primary);
  border-spacing: 0;

  th,
  td {
    padding: 6px 4px;
    box-sizing: border-box;
  }

  @include e(header) {
    th {
      position: sticky;
      top: 0;
      background-color: var(--el-fill-color-light);
      z-index: 2;
      border-bottom: 1px solid var(--el-border-color);
    }
  }

  @include e(header-cell) {
    @include m((left, right)) {
      position: sticky;
    }
  }


  @include e(row) {
    td {
      border-bottom: 1px solid var(--el-border-color);
    }

    &:hover  {
      background-color: var(--el-fill-color-light);
    }
  }

  @include e(row-cell) {
    @include m((left, right)) {
      position: sticky;
    }
  }

  @include m(small) {
    th,
    td {
      padding: 4px 4px;
    }
  }
  @include m(large) {
    th,
    td {
      padding: 8px 4px;
    }
  }
}
