$size: 14px;

// textarea - scss vars
$textarea-color: #333;
$textarea-bg-color: #fff;
$textarea-selected-border-color: #b4d5ff;
$textarea-slight-color: #d4d4d4;
$textarea-slight-bg-color: #f5f2f0;
$textarea-border-color: #ccc;
$textarea-slight-border-color: #e8e8e8;
$textarea-handler-bg-color: #4290f7;

// toolbar - scss vars
$toolbar-color: #595959;
$toolbar-bg-color: #fff;
$toolbar-active-color: #333;
$toolbar-active-bg-color: #f1f1f1;
$toolbar-disabled-color: #999;
$toolbar-border-color: #e8e8e8;
$toolbar-height: 40px;

// modal - scss vars
$modal-button-bg-color: #fafafa;
$modal-button-border-color: var(#d9d9d9);

// scss mixins
@mixin shadowBordered($shadowRadius: 5px) {
  border: 1px solid $toolbar-border-color;
  border-radius: 3px;
  box-shadow: 0 2px $shadowRadius #0000001f;
}
